*.c	diff=cpp
*.h	diff=cpp
*.html	diff=html
*.java	diff=java
*.md	diff=markdown
*.sh	diff=bash
*.sh.in	diff=bash

# Specify Files and directories to ignore from a git archive command.
**/nbproject		export-ignore
manifest.mf		export-ignore
credisttar		export-ignore
build.xml		export-ignore
